*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,#191E28, #172a51);
    display: flex;
}
#nav{
    height: 74px;
    width: 100%;
   position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
justify-content: space-between;
padding-left: 90px;
    padding-right: 90px;
}
#navpart-2 {
    display: flex;
    gap: 35px;
    align-items: center;
}
#navpart-2 a{
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
}
#navpart-3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
#navpart-3 a{
    color: white;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
}
#right{
    height: 100%;
    width: 45%;
    background: linear-gradient(to right, #c93154 , #c03c5d);
    position: absolute;
    right: 0;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 60% 100%);
  top:0;
}
#main>img{ 
    width: 635px;
position: absolute;
top: 25%;
left: 37%;
z-index: 99;
transform: rotate(-30deg);
filter: brightness(1.5);
}
#left{
    width: 40%;
    color:rgb(255, 255, 255);
    z-index: 3; 
}
#left h2{
    position: absolute;
    top: 25%;
    font-size: 30px;
margin-bottom: 10px;

}
#left h1{
    position: absolute;
    top: 30%;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px; 

}
.stars{
    position: absolute;
    top: 50%;
    font-size: 22px;
    color: gold;
    margin-bottom: 20px; 


}
#left p{
    position: absolute;
    top: 55%;
    font-size: 16px;
    color   :#ffffff;
    margin-bottom: 20px; 

}
#left button{
    padding: 12px 20px;
    background: white;
    color: black;
    border: none; 
    font-weight: bold;
border-radius: 30px;
cursor: pointer;
transition: 0.3s;
top: 65%;
position: absolute;
}
#left button:hover{
    background: #c93154;
    color: white;
}
#background-text{
    position: absolute;
    font-size: 190px;
    color: rgba(2, 2, 2, 0.379);
    font-weight: 800;
    top: 30%;
    left: 50px;
    z-index: 0;
    white-space: nowrap;
    letter-spacing: 10px;
    pointer-events: none;
transform: rotate(10deg);
}